.eventDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 40%;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: black;
}

.eventDetailsImage {
    height: 40%;
    width: 100%;
    border-radius: 10px 10px;
}

.eventDetailsContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 90%;
    align-items: center;
    text-align: center;
    color: white;
    justify-content: space-evenly;
}


.eventDetailsTitle{
    overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 50px;
  font-family: 'Big Shoulders Text';
  color: white;
}

.eventDetailsDescription{
    overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 20px;
  color: white;
  font-family: 'Sofia Sans';
}

.venueDetails{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 20px;
    color: white;
    font-family: 'Sofia Sans';
}

.dateDetails{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 20px;
    color: white;
    font-family: 'Sofia Sans';
}

.reactionsDetails{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.leftReactionDetails{
    flex-grow: 1;
    font-size: 20px;
    font-family: 'Sofia Sans';
    text-align: left;
    color: lightgreen;
    font-weight: bold;
}

.registerDetails{
    color: black;
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px 15px;
}

/* .recordButton{
    background-color: transparent;
    border: none;
    position: relative;
}

.heartState{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
} */